

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>


<div class="container" style="max-width: 680px;padding-top: 5%">
<select class="form-select" aria-label="select example" [(ngModel)]="selectedDestinationTable" (change)="onTableSelection()">
  <option disabled selected>Choose Destination Table</option>
  <option *ngFor="let table of tables" [value]="table" >{{table}}</option>
</select>
</div>

<div class="container" style="padding-top: 5%" *ngIf="showConfig && selectedDestinationTable !== null ">
  <form [formGroup]="mappingForm">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let header of headers">
        <td>{{ header }}</td>
        <td>
          <select class="form-select" [formControlName]="header" (change)="resetOtherSelections(header)">
            <option disabled selected>Select a DB field</option>
            <option *ngFor="let column of columns" [ngValue]="column">{{ column }}</option>
          </select>
        </td>

        <td style="width: 40%">
          <select class="form-select" [formControlName]="'action' + header">
            <option value="Convert" selected>Convert</option>
            <option value="Filter">Filter</option>
            <option value="Sort">Sort</option>
            <option value="Aggregate">Aggregate</option>
          </select>

          <div *ngIf="isFilterAction(header)" style="display: flex; align-items: center; padding-top: 10px;">
          <select class="form-select" [formControlName]="'filterOperator' + header" >
            <option disabled selected value="filterOperator">Filter Operator</option>
            <option value="GreaterThan">Greater Than</option>
            <option value="LessThan">Less Than</option>
            <option value="Equals">Equals</option>
            <option value="NotEquals">Not Equals</option>
            <option value="Contains">Contains</option>
            <option value="DoesNotContain">Does Not Contain</option>
          </select>
          <input class="form-control" type="text" [formControlName]="'filterValue' + header" placeholder="Filter Value"/>
          </div>


          <div *ngIf="isAggregateAction(header)" style="padding-top: 10px;">
            <select class="form-select" [formControlName]="'AggregateOperation' + header" >
              <option value="Sum">Sum</option>
              <option value="Avg">Average</option>
              <option value="Count">Count</option>
              <option value="Min">Minimum</option>
              <option value="Max">Maximum</option>
            </select>
          </div>

          <div *ngIf="isSortAction(header)" style="padding-top: 10px;">
            <select class="form-select" [formControlName]="'sortOrder' + header" >
              <option selected value="Asc">Ascending</option>
              <option value="Desc">Descending</option>
            </select>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
    <button class="btn btn-primary" style="margin-left: 88%; margin-bottom: 5%" [disabled]="!isAllHeadersMapped()" (click)="MapAndUpload()">Map and Upload</button>
  </form>
</div>
